<!DOCTYPE html>
{% load static %}

<aside class="sidebar" id="chat-bot-side-bar">
    <link href="{% static 'css/chat.css' %}" rel="stylesheet">
    <!-- <script src="{% static 'jquery-3.7.1.min.js' %}"></script> -->
    <div class="chatBot">
        <header id="chatHeader">
            <h2>Chat Bot</h2>
            <!-- <span alt="Close"
                      id="cross"
                      onclick="cancel()">X</span> -->
        </header>
        <ul class="chatbox">
            <li class="chat-incoming chat">
                <p>Hi! How can I assist you today?</p>
            </li>
        </ul>
        <div class="chat-input">
            <textarea rows="0" cols="17" placeholder="Enter a message..."></textarea>
            <button id="sendBTN">Send</button>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}" defer></script>
</aside>